---
  - name: Update apt cache
    apt:
      update_cache: yes

  - name: Install common packages
    apt:
      name:
        - curl
        - wget
        - unzip
        - git
      state: present

  - name: Set timezone to Europe/Berlin 
    timezone:
      name: Europe/Berlin
